.contactPage {
	overflow: auto;
	color: blanchedalmond !important;
	min-height: 100%;
	height: 60vh;
}

.row {
	justify-content: center !important;
}

@media (max-width: 576px) {
	.contactPage {
		height: 50vh;
	}
	.icons-query {
		font-size: 35px !important;
		margin: 5px;
	}
}
